<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="LogDNA" class="uk.co.humboldt.logging.LogDNABulkAppender">
        <appName>SaltToday</appName>
        <ingestKey>${LOGDNA_INGEST_KEY}</ingestKey>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="warn" />
    <logger name="org.xnio.nio" level="warn" />
    <logger name="io.undertow.session" level="warn" />
    <logger name="io.undertow.request" level="warn" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LogDNA"/>
    </root>
</configuration>
