<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:image" content="/img/favicon.png" />
      <meta property="og:site_name" content="salttoday" />
      <meta property="og:type" content="object" />
      <meta property="og:title" content="salttoday.ca" />
      <meta property="og:url" content="https://salttoday.ca" />
      <meta property="og:description" content="A leaderboard for SooToday's users and comments." />

      <link rel="icon" href="/img/favicon.png">
      <title>SaltToday</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128491699-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-128491699-1');
    </script>
  </head>
  <body>
    <div id="app">
      <!-- Content Here is Replaced once the App is Loaded! -->
      <div class="loading-wrapper">
        <div>
          <img class="loading-logo" src = "/img/SaltTodayLogoNoSalt.svg"/>
          <img class="loading-logo-salt" src = "/img/SaltTodayLogoWithSalt.svg"/>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
    {% style "/css/app.css" %}

    {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
