@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
}

body {
    color: #ffffff;
    font-family: BebasNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #1b1b1b;
    margin: 0;
    height: 100vh;
}

/** Flex Box Related Stuff */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.app-wrapper {
    height: 100%;
}

.page-wrapper {
    display: flex;
    height: 100%;
}

.justify-center {
    justify-content: center;
    align-items: center;
}

.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Loading Page */
.loading-logo {
    animation: shakeShaker 1.5s infinite 0s linear;
    width: 50vw;
    z-index: 2;
    height: 50vh;
    position: absolute;
}

.loading-logo-salt {
    width: 50vw;
    height: 50vh;
    animation: shakeSalt 1.5s infinite 0s linear;
}

@keyframes shakeShaker{
    0%{ transform: translateX(0) translateY(0); }
    3%{ transform: translateX(5px) translateY(-5px); }
    5%{ transform: translateX(-10px) translateY(10px); }
    7%{ transform: translateX(0) translateY(0); }
    39%{ transform: translateX(0) translateY(0); }
    40%{ transform: translateX(5px) translateY(-5px); }
    42%{ transform: translateX(-10px) translateY(10px); }
    44%{ transform: translateX(0) translateY(0); }
    100%{ transform: translateX(0) translateY(0); }
}

@keyframes shakeSalt{
    0%{ transform: translateX(0) translateY(0); opacity: 0; }
    3%{ transform: translateX(5px) translateY(-5px); opacity: 1; }
    5%{ transform: translateX(-10px) translateY(10px); }
    7%{ transform: translateX(0) translateY(0); opacity: 0; }
    39%{ transform: translateX(0) translateY(0); opacity: 0; }
    40%{ transform: translateX(5px) translateY(-5px); opacity: 1; }
    42%{ transform: translateX(-10px) translateY(10px); }
    44%{ transform: translateX(0) translateY(0); opacity: 0; }
    100%{ transform: translateX(0) translateY(0); opacity: 0; }
}

/* Actual Styling */
.main-content {
    background-image: url("/img/salt-falling.png");
    background-repeat: repeat-y;
    background-position: center;
    padding-top: 3em;
}

.navigation {
    white-space:nowrap;
    position: relative;
    padding: 20px 0px 0px 20px;
}

/*this will be on :active once done*/
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.nav-link > a {
    color: white;
    text-decoration: none;
}

.nav-link > a:hover {
    color: rgb(59, 59, 59);
    text-decoration: none;
}

span.nav-link.active {
    font-size: 3.5em;
}

.heading {
    font-size: 4em;
    border-bottom: 5px solid white;
    width: 25%;
    text-align: center;
}

.header-wrapper {
    margin-bottom: 2em;
}

.comment-metadata-row {
    align-items: center;
}

.comments-wrapper > .row {
    margin-bottom: 1.5em;
}

.comment-body {
    font-size: 1.75em;
    margin-left: 1em;
    margin-right: 1em;
    background: #ffffed;
    padding: 0.5em;
}

.comment-likes {
    color: #0072bc;
    align-items: end;
}

.comment-dislikes {
    color: #ed1c24;
    align-items: start;
}

.comment-author {
    margin-left: 1em;
}

.like-dislike-counter {
    font-size: 1.75em;
}

.article-link {
    text-decoration: none;
    color: black;
}

.article-link:hover {
    text-decoration: underline;
}

.author-link {
    margin-top: 0.5em;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    margin-left: 0.5em;
}

.author-link:hover {
    text-decoration: underline;
}